body {
    margin: 0%;
    padding: 0%;
    background: url(images/band.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    height: 180vh;
    max-width: 100%;
    max-height: 100%;
    min-width: 1100px;
    min-height: 800px;
}

.aside {
    background: rgb(37, 37, 37);
    margin-top: 0%;
}

.aside1 {
    width: 40%;
    height: 75%;
}

.aside1 {

    float: right;
    margin-top: 1%;
    margin-right: 1%;
    background-color: transparent;


}

.form2 {
    width: 40%;
    height: 75%;
}

.form2 {
    padding: 8%;
    float: right;
    margin-top: 10%;
    margin-right: 0%;
    padding-right: 40%;
    min-width: 350px;

    background-color: #0d6b7cbd;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}

.tabl2 {
    border-collapse: collapse;
    margin: 25px 25px;
    margin-right: 5%;
    font-size: 1em;
    font-family:
        sans-serif;
    min-width: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-right: 5%;
    padding: 1%;
}

.tabl2 thead tr {
    background-color: #13a6b9;
    color: #ffffff;
    text-align: middle;


}

.tabl2 tbody tr {
    background-color: #e6d9db;
    color: #070606;
    text-align: middle;


}

.tabl3 {
    border-collapse: collapse;
    margin: 25px 25px;
    margin-right: 5%;
    font-size: 1em;
    font-family:
        sans-serif;
    min-width: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-right: 5%;
    padding: 1%;
}

.tabl3 thead tr {
    background-color: #13a6b9;
    color: #ffffff;
    text-align: middle;


}

.tabl3 tbody tr {
    background-color: #e6d9db;
    color: #070606;
    text-align: middle;
}

.sub1 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition-duration: 0.4s;
    /*Safari*/
    transition-duration: 0.4s;
    padding: 2%;
    width: 50%;
    margin-left: 5%;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.sub1:hover {
    background-color: #0d6e94;
    /* Green */
    color: white;
}


.form111 {
    width: 40%;
    height: 75%;
}

.form111 {
    margin-right: 0;
    float: left;
    margin-top: 1%;
    background-color: transparent;



}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(37, 37, 37);
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #0d6b7cbd;
}

.form_w {
    border: 1px solid #111;
    padding: 12%;
    background-color: #0d6b7cbd;
    border-radius: 50%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-group {
    margin-top: 2%;
    font-size: 15px;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);


}

.form-control {
    margin-left: 2%;
    background: #eeecec;
    border: 1px solid rgb(20, 20, 20);
    cursor: text;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form {
    margin-left: 1%;
    padding: 3%;
    background-color: #0d6b7cbd;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.form input[type=submit] {
    max-width: 20%;
    margin-left: 2%;
    background: #ece8e8;
    ;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 1%;
    margin-top: 8px;
    opacity: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form input[type=submit]:hover {
    opacity: 0.8;
}

.form input[type=submit]:active {
    opacity: 0.5;
}

.form input[type=reset]:hover {
    opacity: 0.8;
}

.form input[type=reset]:active {
    opacity: 0.5;
}

.cedula {
    margin-left: 3%;
    max-width: 80%;
    background: #eeecec;
    border: 1px solid rgb(20, 20, 20);
    cursor: text;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.label {
    font-size: 25px;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);

}


.text-center {
    margin-top: 100%;
}

.tab1 {
    background-color: #ece8e8;
    padding: auto;
}


.td {
    text-align: center;
    padding: 1%;
    padding-right: 1%;
}

td1 {
    text-align: center;
    padding: 3%;
    padding-right: 1%;
}

.form_wrap {
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #4091EC;
    opacity: 0.9;
}

.cantact_info {
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../fondo.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items {
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title {
    margin-bottom: 60px;
}

.info_title span {
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2 {
    font-size: 35px;
    text-align: center;
}

.info_items p {
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span {
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span {
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact {
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2 {
    font-size: 25px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 30px;
}

form.form_contact .user_info {
    display: flex;
    flex-direction: column;
}

form.form_contact label {
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea {
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 400;
}

form.form_contact textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="submit"] {
    width: 180px;
    background: #4091EC;
    padding: 10px;
    border: none;
    border-radius: 25px;

    align-self: flex-end;

    color: #fff;
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

form.form_contact input[type="submit"]:hover {
    background: #3371B6;
}

/* Ventana de errores*/
.modal_wrap {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal {
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3 {
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 400;
}

.mensaje_modal h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #C5C5C5;
    margin: 10px 0px 15px;
}

.mensaje_modal p {
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before {
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose {
    display: inline-block;
    padding: 3px 10px;
    margin-top: 10px;

    background: #E25151;
    color: #fff;
    border: 2px solid #B14141;
    cursor: pointer;

    float: right;
}

/* MENSAJE EXITOSO*/

.mensaje-exito {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje-exito h1 {
    font-size: 35px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.mensaje-exito a {
    display: block;
    padding: 10px 30px;
    background: #4091EC;
    text-decoration: none;
    color: #fff;
}

.mensaje-exito a:hover {
    background: #3371B6;
}